In [ ]:
!pip install pymysql==1.4.6

In [3]:
import sys
import pandas as pd
import pymysql as pms
print('Python version check : ', sys.version)
print('Pandas version check : ', pd.__version__)
print('PyMySQL version check : ', pms.__version__)

Python version check :  3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
Pandas version check :  2.2.2
PyMySQL version check :  1.4.6

In [4]:
import pandas as pd

data_file_path = './datas'
database_tables_name = [
    'tb_user_key', # 0
    'tb_user_information', # 1
    'tb_user_finance', # 2
    'tb_chat_bot', # 3
    'tb_stock_predict', # 4
    'tb_finance_date', # 5
    'tb_stock', # 6
    'tb_korea_economic_indicator', # 7
    'tb_us_economic_indicator', # 8
    'tb_main_economic_index', # 9
    'tb_shares_held', # 10
    'tb_received_paid', # 11
    'tb_news', # 12
    'tb_news_chat_room', # 13
    'tb_faq' # 14
]

# Load data from Excel files
df_user_key                 = pd.read_excel(f'{data_file_path}/{database_tables_name[0]}.xlsx')
df_user_information         = pd.read_excel(f'{data_file_path}/{database_tables_name[1]}.xlsx')
df_user_finance             = pd.read_excel(f'{data_file_path}/{database_tables_name[2]}.xlsx')
df_chat_bot                 = pd.read_excel(f'{data_file_path}/{database_tables_name[3]}.xlsx')
df_stock_predict            = pd.read_excel(f'{data_file_path}/{database_tables_name[4]}.xlsx')
df_finance_date             = pd.read_excel(f'{data_file_path}/{database_tables_name[5]}.xlsx')
df_stock                    = pd.read_excel(f'{data_file_path}/{database_tables_name[6]}.xlsx')
df_korea_economic_indicator = pd.read_excel(f'{data_file_path}/{database_tables_name[7]}.xlsx')
df_us_economic_indicator    = pd.read_excel(f'{data_file_path}/{database_tables_name[8]}.xlsx')
df_main_economic_index      = pd.read_excel(f'{data_file_path}/{database_tables_name[9]}.xlsx')
df_shares_held              = pd.read_excel(f'{data_file_path}/{database_tables_name[10]}.xlsx')
df_received_paid            = pd.read_excel(f'{data_file_path}/{database_tables_name[11]}.xlsx')
df_news                     = pd.read_excel(f'{data_file_path}/{database_tables_name[12]}.xlsx')
df_news_chat_room           = pd.read_excel(f'{data_file_path}/{database_tables_name[13]}.xlsx')
df_faq                      = pd.read_excel(f'{data_file_path}/{database_tables_name[14]}.xlsx')

all_tables_df = [
    df_user_key, df_user_information, df_user_finance, df_chat_bot, 
    df_stock_predict, df_finance_date, df_stock, df_korea_economic_indicator, 
    df_us_economic_indicator, df_main_economic_index, 
    df_shares_held, df_received_paid, df_news, df_news_chat_room, df_faq
]

In [7]:
import pymysql

sql_file_path = './MAP_project_create_table.sql'
database_host_ip = '127.0.0.1'
database_name = 'AICC_DB_MAP'
database_id = 'root'
database_passwd = '1234'
database_charset = 'utf8'


# 데이터베이스 연결
conn = pymysql.connect(
    host=database_host_ip,
    user=database_id,
    password=database_passwd,
    charset=database_charset
)

cur = conn.cursor()
print(f'========== DATABASE Connect ==========')

# 데이터베이스 생성
cur.execute(f"DROP DATABASE IF EXISTS {database_name}")
cur.execute(f"CREATE DATABASE {database_name}")
cur.execute(f"USE {database_name}")

# SQL 파일 실행
with open(sql_file_path, 'r', encoding='utf-8') as sql_file:
    sql_commands = sql_file.read().split(';')
    for command in sql_commands:
        if command.strip():
            cur.execute(command)

print(f'========== Insert query start! ==========')
table_num = 0
# tb_user_key
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_user_key (
            uk_email,
            uk_password,
            uk_permission
        ) VALUES (%s, %s, %s);
    """, (
        row['uk_email'],
        row['uk_password'],
        row['uk_permission'],
    ))

print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_user_information
print(f'========== {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_user_information (
            user_id,
            ui_name,
            ui_birth_date,
            ui_sex,
            ui_bank_num,
            ui_caution,
            ui_phone_number
        ) VALUES (%s, %s, %s, %s, %s, %s, %s);
    """, (
        row['user_id'],
        row['ui_name'],
        row['ui_birth_date'],
        row['ui_sex'],
        row['ui_bank_num'],
        row['ui_caution'],
        row['ui_phone_number']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_user_finance
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_user_finance (
            user_id,
            uf_capital,
            uf_loan,
            uf_installment_saving,
            uf_deposit,
            uf_target_budget
        ) VALUES (%s, %s, %s, %s, %s, %s);
    """, (
        row['user_id'],
        row['uf_capital'],
        row['uf_loan'],
        row['uf_installment_saving'],
        row['uf_deposit'],
        row['uf_target_budget']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_chat_bot
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_chat_bot (
            user_id,
            cb_date,
            cb_text
        ) VALUES (%s, %s, %s);
    """, (
        row['user_id'],
        row['cb_date'],
        row['cb_text']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_stock_predict
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_stock_predict (
            sp_date,
            sp_ss_predict,
            sp_ap_predict,
            sp_bit_predict
        ) VALUES (%s, %s, %s, %s);
    """, (
        row['sp_date'],
        row['sp_ss_predict'],
        row['sp_ap_predict'],
        row['sp_bit_predict']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_finance_date
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_finance_date (
            fd_date
        ) VALUES (%s);
    """, (
        row['fd_date']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_stock
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_stock (
            fd_date,
            sc_ss_stock,
            sc_ss_per,
            sc_ss_pbr,
            sc_ss_roe,
            sc_ss_mc,
            sc_ap_stock,
            sc_ap_per,
            sc_ap_pbr,
            sc_ap_roe,
            sc_ap_mc,
            sc_coin
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        row['fd_date'],
        row['sc_ss_stock'],
        row['sc_ss_per'],
        row['sc_ss_pbr'],
        row['sc_ss_roe'],
        row['sc_ss_mc'],
        row['sc_ap_stock'],
        row['sc_ap_per'],
        row['sc_ap_pbr'],
        row['sc_ap_roe'],
        row['sc_ap_mc'],
        row['sc_coin']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_korea_economic_indicator
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_korea_economic_indicator (
            fd_date,
            kei_gdp,
            kei_m2_end,
            kei_m2_avg,
            kei_fed_rate,
            kei_ppi,
            kei_ipi,
            kei_cpi,
            kei_imp,
            kei_exp,
            kei_ca,
            kei_cs,
            kei_bsi,
            kei_fr
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        row['fd_date'],
        row['kei_gdp'],
        row['kei_m2_end'],
        row['kei_m2_avg'],
        row['kei_fed_rate'],
        row['kei_ppi'],
        row['kei_ipi'],
        row['kei_cpi'],
        row['kei_imp'],
        row['kei_exp'],
        row['kei_ca'],
        row['kei_cs'],
        row['kei_bsi'],
        row['kei_fr']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_us_economic_indicator
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_us_economic_indicator (
            fd_date,
            uei_gdp,
            uei_fed_rate,
            uei_ipi,
            uei_ppi,
            uei_cpi,
            uei_cpi_m,
            uei_trade,
            uei_cb_cc,
            uei_ps_m,
            uei_rs_m,
            uei_umich_cs
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        row['fd_date'],
        row['uei_gdp'],
        row['uei_fed_rate'],
        row['uei_ipi'],
        row['uei_ppi'],
        row['uei_cpi'],
        row['uei_cpi_m'],
        row['uei_trade'],
        row['uei_cb_cc'],
        row['uei_ps_m'],
        row['uei_rs_m'],
        row['uei_umich_cs']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_main_economic_index
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_main_economic_index (
            fd_date,
            mei_nasdaq,
            mei_sp500,
            mei_dow,
            mei_kospi,
            mei_gold,
            mei_oil,
            mei_ex_rate
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        row['fd_date'],
        row['mei_nasdaq'],
        row['mei_sp500'],
        row['mei_dow'],
        row['mei_kospi'],
        row['mei_gold'],
        row['mei_oil'],
        row['mei_ex_rate']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_shares_held
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_shares_held (
            user_id,
            sc_id,
            sh_date,
            sh_ss_count,
            sh_ap_count,
            sh_bit_count
        ) VALUES (%s, %s, %s, %s, %s, %s);
    """, (
        row['user_id'],
        row['sc_id'],
        row['sh_date'],
        row['sh_ss_count'],
        row['sh_ap_count'],
        row['sh_bit_count']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_received_paid
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_received_paid (
            user_id,
            rp_date,
            rp_detail,
            rp_amount,
            rp_hold,
            rp_part
        ) VALUES (%s, %s, %s, %s, %s, %s);
    """, (
        row['user_id'],
        row['rp_date'],
        row['rp_detail'],
        row['rp_amount'],
        row['rp_hold'],
        row['rp_part']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_news
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_news (
            news_date,
            news_title,
            news_simple_text,
            news_link
        ) VALUES (%s, %s, %s, %s);
    """, (
        row['news_date'],
        row['news_title'],
        row['news_simple_text'],
        row['news_link']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

# tb_news_chat_room
print(f'========== {table_num} {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_news_chat_room (
            news_id,
            ncr_chat_message,
            ncr_timestamp
        ) VALUES (%s, %s, %s);
    """, (
        row['news_id'],
        row['ncr_chat_message'],
        row['ncr_timestamp']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1
# tb_faq
print(f'========== {database_tables_name[table_num]} insert start ==========')
for index, row in all_tables_df[table_num].iterrows() :
    cur.execute("""
        INSERT INTO tb_faq (
            faq_type,
            faq_ask,
            faq_answer
        ) VALUES (%s, %s, %s);
    """, (
        row['faq_type'],
        row['faq_ask'],
        row['faq_answer']
    ))
print(f'========== {table_num} {database_tables_name[table_num]} insert end ==========')
table_num += 1

print('========== Insert Query End ==========')

conn.commit()
conn.close()
print('========== DATABASE Connect End ==========')

========== DATABASE Connect ==========
========== Insert query start! ==========
========== 0 tb_user_key insert start ==========
========== 0 tb_user_key insert end ==========
========== tb_user_information insert start ==========
========== 1 tb_user_information insert end ==========
========== 2 tb_user_finance insert start ==========
========== 2 tb_user_finance insert end ==========
========== 3 tb_chat_bot insert start ==========
========== 3 tb_chat_bot insert end ==========
========== 4 tb_stock_predict insert start ==========
========== 4 tb_stock_predict insert end ==========
========== 5 tb_finance_date insert start ==========
========== 5 tb_finance_date insert end ==========
========== 6 tb_stock insert start ==========
========== 6 tb_stock insert end ==========
========== 7 tb_korea_economic_indicator insert start ==========
========== 7 tb_korea_economic_indicator insert end ==========
========== 8 tb_us_economic_indicator insert start ==========
========== 8 tb_us_economic_indicator insert end ==========
========== 9 tb_main_economic_index insert start ==========
========== 9 tb_main_economic_index insert end ==========
========== 10 tb_shares_held insert start ==========
========== 10 tb_shares_held insert end ==========
========== 11 tb_received_paid insert start ==========
========== 11 tb_received_paid insert end ==========
========== 12 tb_news insert start ==========
========== 12 tb_news insert end ==========
========== 13 tb_news_chat_room insert start ==========
========== 13 tb_news_chat_room insert end ==========
========== tb_faq insert start ==========
========== 14 tb_faq insert end ==========
========== Insert Query End ==========
========== DATABASE Connect End ==========

In [8]:
conn.close()

Error: Already closed